@model TypePageViewModel

<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")
        @if (Model.Item != null)
        {
            <h1>@Model.Item.Title</h1>
        }
        <div class="row">

        </div>
        
        @if (Model.Child != null)
        {
            if (Model.Item.Text != null)
            {
                <div class="col-md-8">
                    @if (Model.Item != null)
                    {
                        @Html.Raw(Model.Item.Text)
                    }
                </div>
                <div class="col-md-3 col-md-push-1">
                    @Html.Partial("part/childlist_sitemap")
                </div>
            }
            else
            {
                <div class="col-md-12">
                    @Html.Partial("part/childlist_sitemap")
                </div>
            }

        }
        else
        {
            <div class="col-md-12">
                @if (Model.Item != null)
                {
                    @Html.Raw(Model.Item.Text)
                }
            </div>
        }

        @if (Model.Documents != null)
        {
            <div class="attachfile">
                <h2>Прикрепленные файлы</h2>
                <div class="attachfile_list">
                    @foreach (var doc in Model.Documents)
                    {
                        if (System.IO.File.Exists(Server.MapPath(doc.FilePath)))
                        {
                            string exten = Files.FileAnliz.Extension(doc.FilePath).Replace(".", "");
                            <div class="attachfile_item">
                                <span class="attachfile_item__ext attachfile_item__@exten"></span>
                                <div class="attachfile_item_title">@doc.Title</div>
                                <div class="attachfile_item_info">
                                    <a target="_blank" href="@doc.FilePath">Скачать</a>
                                    <div> (@exten, &nbsp; @Files.FileAnliz.Size(doc.FilePath))</div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>