@model cmsMenuViewModel

<div class="content">
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-xs-8">
            @Html.TextBoxFor(m => m.Item.Title, new { @class = "uc_input", @required = "", @title = "Название", @placeholder = "Название", @MaxLength = "512" })
        </div>
        <div class="col-xs-4">
            @Html.TextBoxFor(m => m.Item.Alias, new { @class = "uc_input", @required = "", @Title = "Псевдоним", @placeholder = "Псевдоним", @MaxLength = "16", @data_help = "Уникальное имя раздела, по которому будут раздаваться права пользователям на данный раздел." })
        </div>
    </div>
    @Html.TextAreaFor(m => m.Item.Desc, new { @class = "uc_input", @type = "editor", @height = "300", @title = "Краткое описание раздела" })
</div>

<div class="dop_info-block">
    <div class="dop-caption icon-layers">Доп. параметры</div>
    @Html.DropDownListFor(m => m.Item.Group, new SelectList(Model.MenuType, "value", "text", 0), new { @class = "selectpicker", @required = "", @title = "Группа", @data_help = "Определяет, в каком разделе будет отображен данный пункт меню." })
    @Html.TextBoxFor(m => m.Item.Class, new { @class = "uc_input", @title = "Иконка", @placeholder = "Иконка", @MaxLength = "32", @data_help = "В данное поле вписывается class элемента, в котором хранится символ из шрифта Fontello" })

    @if (Model.Item != null)
    {
        @Html.ActionLink("Журнал изменений", "log", "services", new { @id = Model.Item.id }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
    }
</div>

<div class="buttons">
    <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
    @if (Model.Item != null)
    {
        <button type="submit" name="action" value="delete-btn" class="button icon-delete">Удалить</button>
    }
    <button type="submit" name="action" value="cancel-btn" class="button icon-cancel">Закрыть</button>
</div>