@model ProductModel

@{ 
    var ProdImg = Model.Photo != null ? Settings.ProdContent + Model.Barcode + "/" + Model.Photo.Replace(".jpg", "_mini.jpg") : "";
    var bigImg = Settings.ProdContent + Model.Barcode + "/" + Model.Photo;
    ProdImg = File.Exists(Server.MapPath(ProdImg)) ? ProdImg : "";
   }
<div class="basket_item shadow-block">
    <div class="mobile-block-visable">
        <div class="basket_item-title">
            <a href="/prod/@Model.Id/">@Html.Raw(Model.Title.Replace(",", ", "))</a>
        </div>
    </div>
    <div class="basket-img">
        @if (!String.IsNullOrEmpty(ProdImg))
        {
            <span class="loop"></span>
            <a class="image-gallery" title="@Html.Raw(Model.Title.Replace(",", ", ")) (@Model.Barcode)" href="@bigImg"><img src="@ProdImg" /></a>
        }
    </div>
    <div class="item-info">
        <div class="pc-basket_title">
            <div class="basket_item-title"><a href="/prod/@Model.Id/">@Html.Raw(Model.Title)</a></div>
        </div>
        <div class="basket_item-params"><span>Код</span> @Model.Code</div>
        <div class="basket_item-params mobile-block-visable"><span>Штрихкод</span> @Model.Barcode</div>
        <div class="prod-price"><span>Цена</span><b> @Model.Price.ToString("# ###.00#")</b> руб.</div>
        <div class="basket_form-block">
            <div class="basket_item-counter">
                <div class="count-less">-</div>
                <input data-id="@Model.Id" value="@Model.Count" />
                <div class="count-more">+</div>
            </div>
            <div class="basket_delete">
                <button type="button" class="del-basket btn-invers">Удалить</button>
            </div>
        </div>
    </div>
</div>