@model PageViewModel

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.keywords">
    <meta name="description" content="@ViewBag.description">
    <title> @ViewBag.Title - @Model.SitesInfo.Title</title>
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/plugins/Slicebox/jquery.slicebox.css" rel="stylesheet">

    <link href="/Content/plugins/mobileGallery/swipebox.css" rel="stylesheet">
    <link href="/Content/css/main.css" rel="stylesheet" />
    <link href="/Content/css/adaptiv.css" rel="stylesheet" />

    <script src="/Content/plugins/jquery/jquery.js"></script>
    <script src="/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/plugins/jquery/jquery.ui.js"></script>
</head>

<body>
    <div class="mobile-indicator"></div>
    <div class="scroll-menu">
        <div class="container">
            <a class="catalog-btn" href="/catalog/">Каталог</a>
            <div class="menu-basket-info">
                @{ Html.RenderAction("Basket", "Partials", new { viewName = "Basket/ShortBlock" }); }
            </div>
            @{ Html.RenderAction("AdminMenu", "Partials"); }
        </div>
    </div>
    <div class="head_block">
        <div class="clouds">
            <div class="container">
                <div class="logo">
                    <a href="/"><img title="" alt="" src="~/Content/img/logo.png" /></a>

                    @if (Model != null && Model.SitesInfo != null && Model.SitesInfo.Phone != null)
                    {
                        string MainPhone = (Model.SitesInfo.Phone.IndexOf("|") > -1) ? Model.SitesInfo.Phone.Substring(0, Model.SitesInfo.Phone.IndexOf("|")) : Model.SitesInfo.Phone;
                        MainPhone = MainPhone.Insert(MainPhone.LastIndexOf(" "), "<span>") + "</span>";

                        <div class="phone">@Html.Raw(MainPhone)</div>
                    }
                </div>
                <div class="basket-block">
                    @{ Html.RenderAction("Basket", "Partials"); }
                </div>
                <div class="search-block hidden-xs">
                    <form id="search-form" action="/search/" method="post">
                        <input id="SearchText" name="SearchText" class="search-text" placeholder="Поиск..." /><button type="submit" class="search-btn icon-btn icon-search"></button>
                        <button type="submit" class="search-btn big-btn">Найти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="menu_block">
        <div class="container">
            <a class="catalog-btn" href="/catalog/">Каталог</a>
            <div class="login-block">
                @if (Model.UserInfo == null)
                {
                    <a href="/user/login">Вход</a><a class="hidden-sm">/</a><a class="hidden-sm" href="/user/reg">Регистрация</a>
                }
                else
                {
                    <a href="/user/" class="hidden-sm">@Model.UserInfo.FIO</a><a class="hidden-sm">/</a><a href="/user/logout">Выход</a>
                }
            </div>
            @{ Html.RenderAction("AdminMenu", "Partials"); }
        </div>
    </div>
    <div class="mobile-search-block visible-xs">
        <div class="container">
            <form id="search-form" action="/search/" method="post">
                <input id="SearchText" name="SearchText" class="search-text" placeholder="Поиск..." /><button type="submit" class="search-btn icon-btn icon-search"></button>
            </form>
        </div>
    </div>
    <div class="body_block">
        <div class="container">
            <div class="body-right">
                @{ Html.RenderAction("Catalog", "Partials"); }
                @{ Html.RenderAction("Novelties", "Partials", new { Count = 4 }); }
            </div>
            <div class="body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div style="overflow:hidden;">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-push-8 col-lg-6 col-lg-push-6">
                        <div class="row">
                            <div class="contact-inline col-xs-6 col-md-12 col-lg-6">
                                <div class="title">Контакты:</div>
                                <div class="contakt-block">
                                    <div class="telefon">тел.</div>
                                    <div>@Html.Raw(Model.SitesInfo.Phone.Replace("|", "<br />"))</div>
                                </div>
                                <div class="contakt-block">
                                    <div class="email">e-mail</div>
                                    <div>@Html.Raw(Model.SitesInfo.Email.Replace("|", "<br />"))</div>
                                </div>

                            </div>
                            <div class="contact-inline col-xs-6 col-md-12 col-lg-6">
                                <div class="title">Режим работы</div>
                                <div class="contakt-block">
                                    @Html.Raw(Model.SitesInfo.Worktime.Replace("|", "<br />"))
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-md-pull-4 col-lg-6 col-lg-pull-6">
                        <div class="adress">@Model.SitesInfo.Adress</div>
                        <div class="map-link"><a href="/contacts">Схема проезда</a></div>
                        @if (!String.IsNullOrEmpty(Model.SitesInfo.Instagramm) || !String.IsNullOrEmpty(Model.SitesInfo.Odnoklassniki) ||
                        !String.IsNullOrEmpty(Model.SitesInfo.Vk) || !String.IsNullOrEmpty(Model.SitesInfo.Facebook))
                        {
                            <div class="socseti">
                                <div>Мы в социальных сетях</div>
                                @if (!String.IsNullOrEmpty(Model.SitesInfo.Vk))
                                {<a href="@Model.SitesInfo.Vk" class="vk-link"></a>}
                                @if (!String.IsNullOrEmpty(Model.SitesInfo.Facebook))
                                {<a href="@Model.SitesInfo.Facebook" class="facebook-lik"></a>}
                                @if (!String.IsNullOrEmpty(Model.SitesInfo.Instagramm))
                                {<a href="@Model.SitesInfo.Instagramm" class="instagram-link"></a>}
                            </div>
                        }
                        <div class="copyright">&copy;&nbsp;2010-@DateTime.Now.Year.ToString()&nbsp;@Model.SitesInfo.LongTitle</div>
                        <div class="quote">При цитировании информации с сайта ссылка на первоисточник обязательна.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Raw(Model.SitesInfo.Scripts)

    @RenderSection("scripts", false)
    <script src="/Content/plugins/mobileGallery/js/jquery.swipebox.js"></script>
    <script src="/Content/js/script.js"></script>
</body>

</html>