@model PageViewModel
@{
    ViewBag.Version = "1.0.1";
    string currentYear = DateTime.Now.Year.ToString();
    string theme = Model.SitesInfo.Theme + ".css";

    var mainMenu = (Model.SiteMapArray != null) ?
                    Model.SiteMapArray
                              .Where(w => w.MenuAlias.Equals("main"))
                              .OrderBy(o => o.MenuSort)
                              .Select(s => new
                              {
                                  Path = s.Path,
                                  Alias = s.Alias,
                                  Title = s.Title,
                                  FrontSection = s.FrontSection,
                                  Url = s.Url
                              }).ToArray()
                      : null;

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.keywords">
    <meta name="description" content="@ViewBag.description">
    <title> @ViewBag.Title - @Model.SitesInfo.Title</title>
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/plugins/Slicebox/jquery.slicebox.css" rel="stylesheet">

    <link href="/Content/plugins/mobileGallery/swipebox.css" rel="stylesheet">
    <link href="/Content/css/common.css" rel="stylesheet" />
    <link href="/Content/css/commonless.css" rel="stylesheet" />
    <link href="/Content/css/theme/@theme" rel="stylesheet" />
    <link href="~/Content/css/print.css" rel="stylesheet" type="text/css" media="print">

    <script src="/Content/plugins/jquery/jquery.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/plugins/jquery/jquery.ui.js"></script>
    <script src="/Content/plugins/jquery/jquery.mask.min.js"></script>
    <script src="/Content/plugins/Slicebox/modernizr.custom.46884.js"></script>
    <script src="/Content/plugins/Slicebox/jquery.slicebox.js"></script>
    <script src="/Content/plugins/mobileGallery/js/jquery.swipebox.js"></script>
    <script src="/Content/plugins/jquery/jquery.cookie.js"></script>
    <script src="/Content/js/script.js"></script>
    <script src="/Content/js/menu.js"></script>
</head>

<body>
    <div class="head_block">
        <div class="container">
            <div class="logo">
                <a href="/"><img title="" alt="" src="~/Content/img/logo.png" /></a>

                @if (Model != null && Model.SitesInfo != null && Model.SitesInfo.Phone != null)
                {
                    string MainPhone = (Model.SitesInfo.Phone.IndexOf("|") > -1) ? Model.SitesInfo.Phone.Substring(0, Model.SitesInfo.Phone.IndexOf("|")) : Model.SitesInfo.Phone;
                    MainPhone = MainPhone.Insert(MainPhone.LastIndexOf(" "), "<span>") + "</span>";

                    <div class="phone">@Html.Raw(MainPhone)</div>
                }
            </div>
        </div>
    </div>
    <div class="menu_block">
        <div class="container">
            @if (mainMenu != null)
            {
            <ul class="nav navbar-nav navbar-left">
                @foreach (var item in mainMenu)
                {
                    string fullPath = "/";
                    if (!string.IsNullOrEmpty(item.Url))
                    {
                        fullPath = item.Url;
                    }
                    else if (item.FrontSection.ToLower().Equals("page"))
                    {
                        fullPath = item.Path + item.Alias;
                    }
                    else
                    {
                        fullPath = "/" + item.FrontSection;
                    }
                    string _class = (Request.Path == fullPath) ? "class=active" : "";
                    <li @_class>
                        <a href="@fullPath">@item.Title</a>
                    </li>
                    }
            </ul>
            }
        </div>
    </div>
    <div class="body_block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="prod-catalog">
                        <div class="title">Каталог</div>
                        @if (Model.ProdCatalog != null)
                        {
                            foreach (var item in Model.ProdCatalog)
                            {
                                <div class="catalog_item"><a href="/prod?catalog=@item.Alias">@item.Title</a></div>
                            }
                        }
                    </div>
                    <div class="prod-new">
                        <a href=""><img src="~/Content/img/prod_new.jpg" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div>Контакты:</div>
                            <div>
                                <div>тел.</div>
                                <div>@Html.Raw(Model.SitesInfo.Phone.Replace("|", "<br />"))</div>
                                <div>e-mail</div>
                                <div>@Html.Raw(Model.SitesInfo.Email.Replace("|", "<br />"))</div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div>Режим работы</div>
                            @Html.Raw(Model.SitesInfo.Worktime.Replace("|", "<br />"))
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    &copy;&nbsp;2010-@currentYear&nbsp;@Model.SitesInfo.LongTitle
                    <div>@Model.SitesInfo.Adress</div>
                    <p>@ViewBag.Quote</p>
                </div>
            </div>
        </div>
    </div>
    @Html.Raw(Model.SitesInfo.Scripts)
</body>

</html>