<footer>
	<div class="container">
		<div id="footer-panel row">
			<div class="col-lg-3 col-sm-3">
				<div class="footer-panel-item"><div id="minobr-block"> МИНИСТЕРСТВО ОБРАЗОВАНИЯ И МОЛОДЕЖНОЙ ПОЛИТИКИ ЧУВАШИИ</div>
				<a href="http:\\WWW.OBRAZOV.CAP.RU">WWW.OBRAZOV.CAP.RU</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-3">
			<div class="footer-panel-item"><div>СОЗДАТЬ САЙТ НА КОНСТРУТОРЕ</div> <a href="~/call-us">ОСТАВИТЬ ЗАЯВКУ</a>
		</div>
	</div>
	<div class="col-lg-3 col-sm-3">
		<div class="footer-panel-item "><div>ЭЛЕКТРОННАЯ ЗАПИСЬ В ДЕТСКИЙ САД</div><a href="http:\\sad.edu.cap.ru">SAD.EDU.CAP.RU</a>
	</div>
</div>
<div class="col-lg-3 col-sm-3">
	<div class="footer-panel-item"><div>ЭЛЕКТРОННЫЙ ЖУРНАЛ И ДНЕВНИК</div> <a href="http:\\NET.CITYCHEB.RU">NET.CITYCHEB.RU</a>
</div>
</div>

</div>
<hr id="footer-hr">
<div class="row">
	<div class="col-lg-3 col-sm-3">
		<div class="footer-block">
			<p>&copy; @DateTime.Now.Year, АСофт<p>
			</div>
		</div>
		<div class="col-lg-3 col-sm-3">
			<div class="footer-block">
				<i class="line-height-70">Вопросы по технической поддержке сайтов на конструкторе:</i>
				<br>
				@ViewBag.developer_phone (доб. 6)
				<a href="mailto:@ViewBag.developer_email">@ViewBag.developer_email</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-3">			
			<div class="footer-block">
				<i class="line-height-70">Вопросы по созданию сайтов на конструкторе и документам:</i>
				<br>
				@ViewBag.developer_phone (доб. 5)
				<a href="mailto:@ViewBag.developer_email">@ViewBag.developer_email</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-3">
			<div class="footer-block text-right" >
				Разработка сайта
				<a href="http://web.it-serv.ru/"><img src="~/content/front/img/iserv-logo.png"></a>
			</div>
		</div>
	</div>
</div>
</footer>

<div id="grammar-modal" role="dialog" class="grammar-modal modal fade">
    <div class="modal-dialog">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Название модали</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary">Сохранить изменения</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->

</div>
</div>