@{
    Layout = null;
    var pageSize = String.IsNullOrEmpty(Request.QueryString["size"]) ? Settings.ProdListSize.ToString() : Request.QueryString["size"];
    bool inputSize = ViewBag.inputSize == "true" ? true : false;
}

@if (Model != null)
{
    <div style="overflow:hidden;">
        <nav aria-label="Page navigation">
            @if (inputSize)
            {
                <div class="pagination-size">
                    <form method="post">
                        Товаров на странице: <input name="size" value="@pageSize" />
                    </form>
                </div>
            }
            @if (Model.Length > 1)
            {
                <ul class="pagination" data-base="@Model[0].url.Replace("page=1","")">
                    @foreach (PagerFront item in Model)
                    {
                        string active = (@item.isChecked) ? "PagerNow active" : "";
                        <li class="@active"><a href="@item.url">@item.text</a></li>
                    }
                </ul>
            }
        </nav>
    </div>
}
