@model OrderViewModel

@if (Model.UserResolution.Read)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>

        @if (Model.List != null)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Пользователь</th>
                        <th>Дата</th>
                        <th>Сумма</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List.Orders)
                    {
                        <tr>
                            <td>
                                <a href="/admin/orders/item/@item.Id">
                                    @item.Num
                                </a>
                            </td>
                            <td>
                                @*<a href="/admin/users/item/@item.User.Id" target="_blank">
                                    @item.User.EMail
                                </a>*@
                                @item.User.EMail
                            </td>
                            <td>@item.Date.ToString("dd.MM.yyyy HH:mm:ss")</td>
                            <td>@item.Total.ToString("0.##")</td>
                            <td>@(item.Status != null ? item.Status.Title : String.Empty)</td>
                        </tr>
                    }
                </tbody>
            </table>
            Html.RenderAction("Pager", "Templates", new { @Model = Model.List.Pager });
        }
        else
        {
            <div class="alert alert-info">Не найдено ни одной записи.</div>
        }
    </div>

    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @Html.TextBox("searchtext", Request.QueryString["searchtext"], new { @title = "Поиск по номеру заказа", @placeholder = "поиск...", @MaxLength = "512" })
        @if (Model.Statuses.Count() > 0)
        {
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="label_filtr">Статусы</label>
                    <select class="form-control select2" name="status">
                        <option value="">не выбрано</option>
                        @foreach (var item in Model.Statuses)
                        {
                            string selected = item.Id.ToString() == ViewBag.Status ? "selected" : "";
                            <option value="@item.Id" @selected>@item.Title</option>
                        }
                    </select>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-xs-6">@Html.TextBox("date", Request.QueryString["date"], new { @data_type = "date", @title = "Дата с", @placeholder = "дд.мм.гггг" })</div>
            <div class="col-xs-6">@Html.TextBox("dateend", Request.QueryString["dateend"], new { @data_type = "date", @title = "по", @placeholder = "дд.мм.гггг" })</div>
        </div>
        <div class="row">
            <div class="col-md-6"><button type="submit" name="action" value="search-btn" class="button btn-primary">Применить</button></div>
            <div class="col-md-6"><button type="submit" name="action" value="clear-btn" class="button btn-default">Сбросить</button></div>
        </div>
    </div>

    <div class="buttons"></div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}