@model UsersViewModel

@if (Model.UserResolution.Write)
{
    <div class="content">
        <h1>Данные пользователя</h1>
        <div class="row">
            <div class="col-xs-4">
                @Html.TextBoxFor(m => Model.Item.Name, new { @required = "", @Title = "Фамилия", @placeholder = "Фамилия", MaxLength = "128", data_help="12" })
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(m => Model.Item.Surname, new { @required = "", @Title = "Имя", @placeholder = "Имя", @MaxLength = "128" })
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(m => Model.Item.Patronymic, new { @Title = "Отчество", @placeholder = "Отчество", @MaxLength = "128" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.TextBoxFor(m => m.Item.Birthday, new { @data_type = "date", @title = "Дата рождения", @value = "" })
            </div>
            @*<div class="col-xs-4">
                @Html.TextBoxFor(m => m.Item.Birthday, new { @data_type = "datetime", @title = "Дата c временем", @value = "" })
            </div>*@
            <div class="col-xs-4">
                @Html.CheckBoxFor(m => Model.Item.Sex, new { @type = "checkbox", @title = "Укажите пол", @data_toggle = "toggle", @data_on = "мужской", @data_off = "женский"})
            </div>
        </div>        
        @Html.TextBoxFor(m => m.Item.Post, new { type = "text", maxlength = "128", @placeholder = "Должность" })
        <br />
        <div class="group-block rules open" title="Контакты">
            @Html.TextBoxFor(m => m.Item.Adres, new { @placeholder = "Адрес" })
            <div class="row">
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.Item.Phone, new { maxlength = "64", @placeholder = "Телефон" })
                </div>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.Item.Mobile, new { maxlength = "64", @placeholder = "Телефон (моб.)", @data_mask="+7 (999) 999-99-99" })
                </div>
            </div>            
            @Html.TextAreaFor(m => m.Item.Contacts, new { @title = "Дополнительные контакты", @type = "editor", @rows = "8" })
        </div>
    </div>
    
    <div class="dop_info-block">
        <div class="dop-caption">Настройки</div>
        <div class="group-block rules open" title="Права авторизации">
            @Html.TextBoxFor(m => m.Item.EMail, new { required = "", type = "email", maxlength = "128", autocomplete = "off", title = "Email адрес", @data_help = "123" })
            @Html.DropDownListFor(m => m.Item.Group, new SelectList(Model.GroupList, "value", "text", 0), new { @title = "Группа", @class = "selectpicker", @data_help = "123" })
            @if (Model.Item == null)
            {
                @Html.TextBoxFor(m => Model.Password.Password, new { @required = "", type = "password", minlength = "6", maxlength = "16", autocomplete = "off", @title = "Пароль", @data_help = "Пароль должен содержать латинские буквы и не менее одной цифры. Длина пароля должна быть от 6 до 16 символов" })
                @Html.TextBoxFor(m => Model.Password.PasswordConfirm, new { @required = "", type = "password", minlength = "6", maxlength = "16", autocomplete = "off", @title = "Подтверждение пароля" })
            }
            @Html.CheckBoxFor(m => m.Item.Disabled, new { @type = "checkbox", @title = "Доступ к CMS", @data_toggle = "toggle", @data_help = "123", @data_on = "Учетная запись отключена", @data_onstyle = "danger", @data_off = "Доступ разрешен", @data_offstyle = "success", @data_width = "248" })
        </div>
        @if (Model.Item != null)
        {
            @Html.ActionLink("Изменить пароль", "ChangePass", "services", new { @id = Model.Item.Id }, new { @id = "ChengePass", @class = "button pop-up_frame icon-key-1", @data_class = "ChengePass", @title = "Изменить пароль" })
            <hr />
            @*@Html.ActionLink("Настройки доступа", "Resolutions", "services", new { @id = Model.Item.Id }, new { @id = "Resolutions", @class = "button pop-up_frame icon-cog-alt", @data_class = "Resolutions" })*@
            @*@Html.ActionLink("Список доступных сайтов", "SiteLinks", "services", new { @id = Model.Item.Id }, new { @id = "SiteLinks", @class = "button pop-up_frame icon-link", @data_class = "SiteLinks", @title = "Список сайтов" })*@
            <hr />
            @Html.ActionLink("Журнал изменений", "log", "services", new { @id = Model.Item.Id }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
            @Html.ActionLink("Активность пользователя", "log", "services", new { @id = Model.Item.Id }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}

<div class="buttons">
    @if ((Model.Item != null && Model.UserResolution.Change) || (Model.Item == null && Model.UserResolution.Write))
    {
        <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
    }
    @if (Model.Item != null && Model.UserResolution.Delete)
    {
        <button type="submit" name="action"  data-action="delete" value="delete-btn" class="button icon-delete">Удалить</button>
    }
    <button type="submit" name="action" value="cancel-btn" class="button icon-cancel">Закрыть</button>
</div>
