@model ContatcsViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }


    @if (Model.SitesInfo != null)
    {
        <h1>@ViewBag.Title</h1>

        <div class="page-text">
            <div>
                @if (!string.IsNullOrEmpty(Model.SitesInfo.Adress))
                {
                    <div class="contact_info_it">
                        <strong>Адрес: </strong>
                        @Model.SitesInfo.Adress
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.SitesInfo.Phone))
                {
                    <div class="contact_info_it">
                        <strong>Телефон: </strong>
                        @Model.SitesInfo.Phone
                    </div>

                }
                @if (!string.IsNullOrEmpty(Model.SitesInfo.Fax))
                {
                    <div class="contact_info_it">
                        <strong>Факс: </strong>
                        @Model.SitesInfo.Fax
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.SitesInfo.Email))
                {
                    <div class="contact_info_it">
                        <strong>E-mail приёмной:</strong>
                        @if (Model.SitesInfo.Email.IndexOf("|") > 0)
                        {
                            foreach (string strMail in Model.SitesInfo.Email.Split('|'))
                            {
                                <a href="mailto:@strMail.Replace(" ","")">@strMail.Replace(" ","")</a>; 
                            }
                        }
                        else
                        {
                            <a href="mailto:@Model.SitesInfo.Email">@Model.SitesInfo.Email</a>
                        }
                    </div>
                }

                @if (!(Model.SitesInfo.Adress == null))
                {
                    <h3>Схема проезда</h3>
                    <div id="map"></div>
                    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;load=package.full" type="text/javascript"></script>
                    <script>
                        ymaps.ready(function () {

                            var _x = '47.253872';
                            var _y = '56.099285';
                            var myMap = new ymaps.Map("map", {
                                center: [_y, _x],
                                zoom: 16,
                                controls: ["geolocationControl"]
                            });

                            myMap.controls.add('fullscreenControl', { float: "left" });
                            myMap.controls.add('zoomControl', { size: "small", top: 35 });
                            myMap.behaviors.disable('scrollZoom');

                            var myPlacemark = new ymaps.Placemark([_y, _x]);

                            myMap.geoObjects.add(myPlacemark);
                        });
                    </script>
                }
            </div>
        </div>
    }
</div>