@model PhotoViewModel
@if (Model.UserResolution.Read)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>

        @if (Model.List != null)
        {
            foreach (PhotoAlbum Item in Model.List.Data)
            {
                string ImgUrl = (Item.PreviewImage != null) ? Item.PreviewImage.Url : null;
                string text = string.Empty;

                if (ImgUrl == string.Empty || ImgUrl == null)
                {
                    ImgUrl = "/Content/img/nophoto.jpg";
                }
                else if (ImgUrl.IndexOf("http") == -1)
                {
                    if (!File.Exists(Server.MapPath(ImgUrl)))
                    {
                        ImgUrl = "/Content/img/nophoto.jpg";
                    }
                }
                
                string disabled = (Item.Disabled) ? "disabled" : "";                
                <div class="list-item @disabled">
                    <a href="/admin/photoalbums/item/@Item.Id/@ViewBag.urlQuery">
                        <img src="@ImgUrl" alt="@Item.Title" class="li-image" />
                    </a>
                    <div class="li-desc">                        
                        <a href="/admin/photoalbums/item/@Item.Id/@ViewBag.urlQuery" title="@Item.Title" class="li-caption">@Item.Title</a><br />
                        <span>Дата: </span>@Convert.ToDateTime(Item.Date).ToString("dd.MM.yyyy")<br />
                        <span>Текст: </span>@text<br />                        
                    </div>
                </div>
            }
            Html.RenderAction("Pager", "Templates", new { @Model = Model.List.Pager });
        }
        else
        {
            <div class="alert alert-info">Не найдено ни одной записи.</div>
        }
    </div>


    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @Html.TextBox("searchtext", Request.QueryString["searchtext"], new { @title = "Поиск по ключевым словам", @placeholder = "поиск...", @MaxLength = "512" })
        @Html.CheckBox("disabled", Convert.ToBoolean(Request.QueryString["disabled"]), new { @title = "Отображать", @data_on = "Только запрещенные", @data_onstyle = "danger", @data_off = "Все записи", @data_width = "270" })
        <div class="row">
            <div class="col-xs-6">@Html.TextBox("date", Request.QueryString["date"], new { @data_type = "date", @title = "Дата публикации с", @placeholder = "дд.мм.гггг" })</div>
            <div class="col-xs-6">@Html.TextBox("dateend", Request.QueryString["dateend"], new { @data_type = "date", @title = "по", @placeholder = "дд.мм.гггг" })</div>
        </div>
        <div class="row">
            <div class="col-md-6"><button type="submit" name="action" value="search-btn" class="button btn-primary">Применить</button></div>
            <div class="col-md-6"><button type="submit" name="action" value="clear-btn" class="button btn-default">Сбросить</button></div>
        </div>
    </div>

    <div class="buttons">
        @if (Model.UserResolution.Write)
        {
            <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>            
        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}