@model SiteMapViewModel
@{
    string parent = Request.Params["parent"] != null ? Request.Params["parent"] : Model.Item != null ? Model.Item.ParentId.ToString() : null;

    string fileUrl = (Model.Item != null && Model.Item.Photo != null) ? Model.Item.Photo.Url : string.Empty;
}

@if (Model.Item != null && Model.Item.Id != Guid.Empty)
{
    if (Model.UserResolution.Read)
    {
        <div class="content">
            <h1>@ViewBag.Title</h1>
            @Html.Partial("Partial/BreadCrumbSiteMap", Model.BreadCrumbs)
            <div class="row">
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Item.Title, new { @title = "Заголовок", @required = "" })
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Item.Alias, new { @title = "Название страницы" })
                </div>
            </div>

            @Html.TextBoxFor(m => m.Item.Url, new { @title = "Ссылка" })
            @Html.HiddenFor(m => m.Item.ParentId)
            @Html.Hidden("Item_ParentId", parent)

            <div class="group-block" title="Текст">
                @Html.TextAreaFor(m => m.Item.Text, new { @type = "editor", @height = "300", data_dir = ViewBag.DataPath })
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="nesting_title">Список вложенностей</h4>
                </div>

                @if (Model.UserResolution.Write) // Если алиас есть, то запись сохранена уже
                {
                    if (!string.IsNullOrEmpty(Model.Item.Alias))
                    {
                        <div class="col-sm-5">
                            <div class="bubble_but">
                                <a class="button icon-create green" href="/admin/sitemap/item/@Guid.NewGuid()/?parent=@Model.Item.Id">Добавить</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <span class="icon-info"></span>Добавить вложенный элемент возможно только после сохранения записи!
                            </div>
                        </div>
                    }

                }

                @if (Model.Childrens != null && Model.Childrens.Count() > 1)
                {
                    <div class="col-sm-2">
                        <div class="bubble_but">
                            <a class="button icon-sort" data-action="noPreloader-accept" id="sorting_element" title="Добавляет возможность сортировки элементов списка">Сортировать</a>
                        </div>
                    </div>
                }
            </div>

            @if (Model.Childrens != null)
            {
                <div class="sort_list">
                    <table id="sm_list" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="map_site_title">Название</th>
                                <th class="map_site_attach">Вложения</th>
                            </tr>
                        </thead>
                        <tbody data-service="/Admin/Services/ChangePermit?group=sitemap">
                            @foreach (var item in Model.Childrens)
                            {
                                <tr class="ui-sortable-handle" data-id="@item.Id">
                                    @if (item.Alias != " ")
                                    {
                                        string disabled = item.Disabled ? "disabled" : String.Empty;

                                        string _class = String.Empty;
                                        if (!String.IsNullOrEmpty(item.Url))
                                        {
                                            _class = "icon-site-link";
                                        }
                                        else if (item.CountSibling == 0)
                                        {
                                            _class = "icon-site-page";
                                        }
                                        else
                                        {
                                            _class = "icon-site-folder";
                                        }

                                        <td class="@_class @disabled"><a href="/admin/sitemap/item/@item.Id">@item.Title</a></td>
                                        <td class="sort-element @disabled">@item.CountSibling</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <div class="dop_info-block">
            @Html.DropDownListFor(m => m.Item.FrontSection, new SelectList(Model.FrontSectionList, "Value", "Text", "page"), new { @title = "Шаблон", @class = "selectpicker", @data_help = "Выбор шаблона страницы", @required = "" })

            @if (Model.Account.Group.ToLower().Equals("developer") || Model.Account.Group.ToLower().Equals("administrator"))
            {
                @Html.DropDownListFor(m => m.Item.MenuGroups, (MultiSelectList)ViewBag.GroupMenu, new { @title = "Группы меню", @class = "selectpicker", @multiple = "multiple" })
            }
            else
            {
                @Html.DropDownListFor(m => m.Item.MenuGroups, (MultiSelectList)ViewBag.GroupMenuAviable, new { @title = "Группы меню", @class = "selectpicker", @multiple = "multiple" })
            }

            <div class="group-block" title="Мета теги">
                @Html.TextAreaFor(m => m.Item.Keyw, new { type = "text", title = "Ключевые слова", data_help = "Данный тег используется при создании краткого описания страницы, используется поисковыми системами для индексации, а также при создании аннотации в выдаче по запросу. При отсутствии тега поисковые системы выдают в аннотации первую строку документа или отрывок, содержащий ключевые слова." })
                @Html.TextAreaFor(m => m.Item.Desc, new { type = "text", title = "Краткое описание", data_help = "Данный метатег поисковые системы используют для того, чтобы определить релевантность ссылки. При формировании данного тега необходимо использовать только те слова, которые содержатся в самом документе. Использование тех слов, которых нет на странице, не рекомендуется. Рекомендованное количество слов в данном теге — не более десяти." })
            </div>
            @Html.CheckBoxFor(m => m.Item.Disabled, new { @class = "checkbox", @title = "Запретить просмотр", @data_toggle = "toggle", @data_help = "Запретить просмотр", @data_off = "Доступ разрешён", @data_on = "Доступ запрещён", @data_onstyle = "danger", @data_offstyle = "success", @data_width = "248" })
            @Html.CheckBoxFor(m => m.Item.DisabledMenu, new { @class = "checkbox", @title = "Запретить в меню", @data_toggle = "toggle", @data_help = "Запретить в меню", @data_off = "Доступ разрешён", @data_on = "Доступ запрещён", @data_onstyle = "danger", @data_offstyle = "success", @data_width = "248" })


            @*Видит только администратор*@
            @if (Model.Account.Group.ToLower().Equals("developer") || Model.Account.Group.ToLower().Equals("administrator"))
            {
                @Html.CheckBoxFor(m => m.Item.Blocked, new { type = "checkbox", title = "Запретить удаление страницы", data_toggle = "toggle", data_on = "запретить удаление", data_onstyle = "danger", data_off = "разрешить удаление", data_offstyle = "success", data_width = "248", @data_help = "Запрещает удаление страницы, а также изменение некоторых ее свойств." })
            }

            @if (Model.Item != null)
            {
                <div class="topIndent-20">
                    @Html.ActionLink("Документы", "index", "documents", new { @id = Model.Item.Id }, new { @id = "LogLists", @class = "button pop-up_frame icon-attach", @data_class = "LogList", @title = "Документы" })
                    @Html.ActionLink("Журнал изменений", "log", "services", new { @id = Model.Item.Id }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
                </div>
            }
            @if (Model.Item.Title == null)
            {
                @Html.TextBoxFor(m => m.Item.OldId, new { @title = "Идентификатор в старой БД" })
            }
        </div>
    }
    else
    {
        <div class="content">
            <div class="alert alert-danger">
                <p>У Вас недостаточно прав.</p>
            </div>
        </div>
    }
}
else
{
    <div class="content">
        <div class="alert alert-danger">
            <strong>Ошибка!</strong>
            <p>Не действительный Id записи.</p>
        </div>
    </div>
}

<div class="buttons">
    @if ((Model.Item != null && Model.UserResolution.Change) || (Model.Item == null && Model.UserResolution.Write))
    {
        <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
    }
    @if (Model.Item != null && Model.UserResolution.Delete)
    {
        <button type="submit" name="action" value="delete-btn" data-action="delete" class="button icon-delete">Удалить</button>
    }
    <button type="submit" name="action" value="cancel-btn" data-action="cancel" class="button icon-cancel">Назад</button>
</div>
