@model SiteSectionViewModel

@if (Model.UserResolution.Read)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>

        @if (Model.List != null)
        {
            foreach (SiteSectionModel Item in Model.List.Data)
            {
              
                <div class="list-item">                    
                    <div class="li-desc">                        
                        <a href="/admin/sitesection/item/@Item.Id/@ViewBag.urlQuery" title="@Item.Title" class="li-caption">@Item.Title</a><br />
                        <span>Контроллер: </span>@Item.Alias<br />
                        <span>Тип сайта: </span>@Item.SiteId
                    </div>
                </div>
            }
            Html.RenderAction("Pager", "Templates", new { @Model = Model.List.Pager });
        }
        else
        {
            <div class="alert alert-info">Не найдено ни одной записи.</div>
        }
    </div>


    <div class="dop_info-block">
     
    </div>

    <div class="buttons">
        @if (Model.UserResolution.Write)
        {
            <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>            
        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}
