@model BasketViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>Корзина</h1>
    <div class="page-text page-basket">
        @if (Model.Items.Count() > 0)
        {
            string ProdCount = "";
            string LL = Model.OrderInfo.ProdCount.ToString().Substring(Model.OrderInfo.ProdCount.ToString().Length - 1);
            if (LL == "1" && Model.OrderInfo.Total != 11) { ProdCount = "товар"; }
            else if ((LL == "2" || LL == "3" || LL == "4") && Model.OrderInfo.Total != 12 && Model.OrderInfo.Total != 13 && Model.OrderInfo.Total != 14) { ProdCount = "товара"; }
            else { ProdCount = "товаров"; }

            <div class="basket-result">
                <h3>У вас в корзине <span>@Model.OrderInfo.ProdCount  @ProdCount</span> на общую сумму <span>@Model.OrderInfo.Total.ToString("# ###.00#") руб.</span></h3>
            </div>
            foreach (var item in Model.Items)
            {
                @Html.Partial("Prod/ProdItem_basket", item)

            }
            if (Model.OrderInfo.ProdCount > 3)
            {
                <div class="basket-result bottom-clone">
                    <h3>У вас в корзине <span>@Model.OrderInfo.ProdCount  @ProdCount</span> на общую сумму <span>@Model.OrderInfo.Total.ToString("# ###.00#") руб.</span></h3>
                </div>
            }
            <div class="order-form shadow-block">
                <h2>Оформление заказа</h2>
                @*<div>Все поля обязательны для заполнения</div>*@
                <form id="orderForm" name="orderForm" action="/basket/" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.CheckBox("UserType", String.IsNullOrEmpty(Model.OrderInfo.Organization), new { type = "checkbox", data_size = "normal", title = "Тип покупателя", data_toggle = "toggle", data_on = "Физическое лицо", data_off = "Юридическое лицо или ИП", data_width = "250" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBox("Organization", Model.OrderInfo.Organization, new { title = "Название организации", @placeholder = "ООО «Прессмарк» или ИП «Иванов»" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBox("UserName", Model.OrderInfo.UserName, new { title = "ФИО", required = "", @placeholder = "Иванов Иван" })
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.TextBox("Phone", Model.OrderInfo.Phone, new { title = "Телефон", required = "", @placeholder = "+7 (000) 000-00-00" })
                        </div>
                        <div class="col-md-6">
                            @Html.TextBox("Email", Model.OrderInfo.Email, new { title = " E-Mail", type = "email", required = "", @placeholder = "user@domain" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.CheckBox("Delivery", true, new { type = "checkbox", data_size = "normal", title = "Способ доставки", data_toggle = "toggle", data_on = "Самовывоз", data_off = "Доставка", data_width = "250" })
                        </div>
                        <div class="col-md-8">
                            @Html.TextBox("Address", Model.OrderInfo.Address, new { title = "Адрес (адрес доставки)", @placeholder = "Населенный пункт, Улица, Дом" })
                        </div>
                    </div>
                    <div>
                        @Html.TextArea("UserComment", "", new { title = "Комментарий", rows = 5, @placeholder = "Если вы хотите оставить комментарий к заказу - напишите его сюда" })
                    </div>
                    <button type="submit" class="btn-red">Оформить заказ</button>
                </form>
                <div class="ordering-rules">
                    Нажимая кнопку <b>«Оформить заказ»</b>, Вы подтверждаете свое совершеннолетие,
                    соглашаетесь на обработку персональных данных в соответствии с
                    <a title="Пользовательское соглашение" href="/working-conditions/terms_of_use">Пользовательским соглашением</a>,
                    а так же с <a title="Условия продажи">Условиями продажи</a>
                </div>
            </div>
        }
        else
        {
            <div>Корзина пуста</div>
        }
    </div>
</div>



@section scripts {
    <link href="/Content/plugins/bootstrap/css/bootstrap-toggle.css" rel="stylesheet">
    <script src="/Content/plugins/bootstrap/js/bootstrap-toggle.js"></script>
    <script src="/Content/plugins/Disly/DislyControls.js"></script>
}