@model SitesViewModel

@{
    string logoName = (Model.Item != null && Model.Item.Logo != null) ? Model.Item.Logo.Name : string.Empty;
    string logoSize = (Model.Item != null && Model.Item.Logo != null) ? Model.Item.Logo.Size : string.Empty;
    string logoUrl = (Model.Item != null && Model.Item.Logo != null) ? Model.Item.Logo.Url : string.Empty;

    string backgroundName = (Model.Item != null && Model.Item.BackGroundImg != null) ? Model.Item.BackGroundImg.Name : string.Empty;
    string backgroundSize = (Model.Item != null && Model.Item.BackGroundImg != null) ? Model.Item.BackGroundImg.Size : string.Empty;
    string backgroundUrl = (Model.Item != null && Model.Item.BackGroundImg != null) ? Model.Item.BackGroundImg.Url : string.Empty;
}

<div class="content">
    <h1>@ViewBag.Title</h1>
    @Html.TextBoxFor(m => m.Item.LongTitle, new { @title = "Название" })
    @Html.TextBoxFor(m => m.Item.Title, new { @title = "Краткое название", @required = "" })

    <div class="group-block open" title="Контакты">
        <div class="row">
            <div class="col-xs-4">
                @Html.TextBoxFor(m => Model.Item.Phone, new { @class = "uc_input", @title = "Телефон организации", @placeholder = "Телефон организации", @MaxLength = "64" })
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(m => Model.Item.Fax, new { @class = "uc_input", @title = "Факс", @placeholder = "Факс", @MaxLength = "64" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.TextBoxFor(m => Model.Item.Email, new { @class = "uc_input", @title = "Контактный email", @placeholder = "Контактный email", @MaxLength = "64" })
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(m => Model.Item.TechEmail, new { @class = "uc_input", @title = "Email для технических оповещений", @placeholder = "Email для технических оповещений", @MaxLength = "64" })
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(m => Model.Item.OrderEmail, new { @class = "uc_input", @title = "Email для уведомлений о заказах", @placeholder = "Email для уведомлений о заказах", @MaxLength = "64" })
            </div>
        </div>
        @Html.TextBoxFor(m => Model.Item.Site, new { @class = "uc_input", @title = "Адрес сайта", @placeholder = "Адрес сайта", @MaxLength = "128" })
        @Html.TextBoxFor(m => Model.Item.Worktime, new { @class = "uc_input", @title = "Режим работы", @placeholder = "Режим работы", @MaxLength = "512" })

        @Html.TextBoxFor(m => Model.Item.Adress, new { @class = "uc_input", @title = "Адрес", @placeholder = "Адрес", @MaxLength = "512" })
        <div class="row">
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.Item.CoordX, new { @class = "uc_input Item_CoordX", @title = "Х координата" })
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.Item.CoordY, new { @class = "uc_input Item_CoordY", @title = "Y-координата" })
            </div>
        </div>
        <div id="map">
            <script type="text/javascript">
                Coords('@ViewBag.Ycoord', '@ViewBag.Xcoord', '@ViewBag.Titlecoord', '', '14');
            </script>
        </div>
    </div>


    <div class="group-block topIndent-20" title="Пользовательские скрипты">
        @Html.TextAreaFor(m => m.Item.Scripts, new { @type = "text", @height = "300", @rows = "15" })
    </div>
    @Html.HiddenFor(m => m.Item.Id)
</div>

<div class="dop_info-block">
    @Html.HiddenFor(m => m.Item.Alias)
    <div class="group-block open" title="Социальные сети">
        @Html.TextBoxFor(m => m.Item.Facebook, new { @title = "Facebook" })
        @Html.TextBoxFor(m => m.Item.Vk, new { @title = "Вконтакте" })
        @Html.TextBoxFor(m => m.Item.Instagramm, new { @title = "Instagramm" })
        @Html.TextBoxFor(m => m.Item.Odnoklassniki, new { @title = "Одноклассники" })
        @Html.TextBoxFor(m => m.Item.Twitter, new { @title = "Twitter" })
    </div>
    @if (Model.Item != null)
    {
        @Html.ActionLink("Журнал изменений", "log", "services", new { @id = Model.Item.Id }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
    }
</div>

<div class="buttons">
    @if ((Model.Item != null && Model.UserResolution.Change) || (Model.Item == null && Model.UserResolution.Write))
    {
        <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
    }
</div>
