@model ProdViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>@ViewBag.Title</h1>

    <div class="page-text">
        @if (Model.Categorys != null)
        {
            <div class="catalog-block">
                @foreach (var item in Model.Categorys)
                {
                    var url = "/prod/?catalog=" + item.Path + item.Alias;
                    <div>
                        <a href="@url">@item.Title</a>
                    </div>
                }
            </div>
        }
        @if (Model.List != null)
        {
            if (Model.List.Data.Any())
            {
                <div class="filtr-block">

                </div>
                foreach (var item in Model.List.Data)
                {
                    <div class="item_prod shadow-block">
                        <div class="prod-img"><img src="@item.Photo.Url" /></div>
                        <div class="prod-info">
                            <div class="prod-title"><a href="/prod/item/@item.Id/">@Html.Raw(item.Title)</a></div>
                            <div class="prod-catalog-link">
                                <div><a href="/">Игрушки</a> / <a href="/">Игрушки</a></div>
                            </div>
                            <div class="row">
                                <div class="prod-params col-md-6">
                                    <div><span>Стандарт</span>@item.Standart</div>
                                    <div><span>Штрих-код</span>@item.Barcode</div>
                                </div>
                                <div class="prod-params col-md-6">
                                    <div><span>Код</span>@item.Standart</div>
                                    <div>
                                        <span>Остаток</span>@if (@item.Count > 0)
                                        { @Html.Raw("есть в наличии")  }
                                        else
                                        { @Html.Raw("нет в наличии")  }
                                    </div>
                                </div>
                            </div>
                            <div class="prod-basket-block">
                                <div class="prod-price"><span>Цена</span>@item.Price.ToString("# ###.00#")</div>
                                <div class="prod-cert">
                                    Сертификаты
                                </div>
                                <div class="basket-form">
                                    @{ 
                                        var count = item.inBasket;
                                        string inputVal = (item.inBasket > 0) ? item.inBasket.ToString() : "";
                                        string btnStyle = (item.inBasket > 0) ? "btn-invers" : "btn-blue";
                                        string btnName = (item.inBasket > 0) ? "В корзине" : "В корзину";
                                    }
                                    <input data-id="@item.Id" value="@inputVal" /> шт.
                                    <button type="button" class="in-basket @btnStyle" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="">@btnName</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
            }
        }
    </div>
</div>
