@model OrdersViewModel

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    @{ string sendEmail = "mailto:" + Model.UserInfo.EMail; }

    <h1>Личный кабинет</h1>
    <div class="page-text">
        <p>Добро пожаловать в Ваш личный кабинет!</p>
        <p>Здесь Вы сможете изменить личные данные и просмотреть историю своих заказов.</p>
        <p>&nbsp;</p>
        <div class="lk-tabs">
            <a href="/user/orders/">Истории заказов</a><a href="/user/" class="active">Личные данные</a><a href="/user/password">Изменить пароль</a>
        </div>
        <div class="lk-info">
            <div><b>@Model.UserInfo.FIO</b></div>
            <div><b>E-Mail:</b> <a href="@sendEmail">@Model.UserInfo.EMail</a></div>
            <div class="lk-socseti">
                <div><b>Привязать социальные сети:</b></div>
                <div class="lk-socseti_desc">Нажмите на иконку, чтобы привязать социальную сеть</div>
                <div>
                    <a><img /></a>
                    <a><img /></a>
                </div>
            </div>
        </div>

        <div class="shadow-block">
            <form id="orderForm" name="orderForm" method="post">
                <div class="row">
                    <div class="col-md-4">
                        @Html.CheckBox("UserType", String.IsNullOrEmpty(Model.UserInfo.Organization), new { type = "checkbox", data_size = "normal", title = "Тип покупателя", data_toggle = "toggle", data_on = "Физическое лицо", data_off = "Юридическое лицо или ИП", data_width = "250" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBox("Organization", Model.UserInfo.Organization, new { title = "Название организации", @placeholder = "ООО «Прессмарк» или ИП «Иванов»" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBox("FIO", Model.UserInfo.FIO, new { title = "ФИО", required = "", @placeholder = "Иванов Иван" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBox("Phone", Model.UserInfo.Phone, new { title = "Телефон", required = "", @placeholder = "+7 (000) 000-00-00" })
                    </div>
                </div>
                <div>
                    @Html.TextBox("Address", Model.UserInfo.Address, new { title = "Адрес (адрес доставки)", @placeholder = "Населенный пункт, Улица, Дом" })
                </div>
                <button type="submit" class="btn-invers">Сохранить</button>
            </form>
        </div>
    </div>
</div>


@section scripts {
    @*<link href="/Content/plugins/Disly/DislyControls.css" rel="stylesheet">*@
    <link href="/Content/plugins/bootstrap/css/bootstrap-toggle.css" rel="stylesheet">
    <script src="/Content/plugins/bootstrap/js/bootstrap-toggle.js"></script>
    <script src="/Content/plugins/Disly/DislyControls.js"></script>
}