

<div class="type-page">
    @{ Html.RenderAction("BreadCrumb", "Partials"); }

    <h1>Регистрация</h1>
    <div class="page-text">
        <div class="shadow-block">
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
            <form id="regForm" name="rgistr" method="post">
                <div class="row">
                    <div class="col-md-6">
                        @Html.CheckBox("UserType", true, new { type = "checkbox", data_size = "normal", title = "Тип покупателя", data_toggle = "toggle",  data_on = "Физическое лицо", data_off = "Юридическое лицо или ИП", data_width = "388" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBox("Organization", "", new { title= "Название организации",  @placeholder = "ООО «Прессмарк» или ИП «Иванов»" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBox("UserName", "", new { title = "ФИО", required = "", @placeholder = "Иванов Иван" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBox("Address", "", new { title = "Адрес (адрес доставки)", required = "", @placeholder = "Населенный пункт, Удица, Дома" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBox("Phone", "", new { title = "Телефон", required = "", @placeholder = "+7 (000) 000-00-00" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBox("Email", "", new { title = " E-Mail", type="email", required = "", @placeholder = "user@domain" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                    <div class="col-md-6 check-mail">
                    </div>
                </div>
                <div class="row pass-block">
                    <div class="col-md-6">
                        @Html.Password("Pass.Password", "", new { title = "Пароль", required = "", @placeholder = "password" })
                    </div>
                    <div class="col-md-6">
                        @Html.Password("Pass.PasswordConfirm", "", new { title = "Подтверждение пароля", required = "", @placeholder = "password" })
                    </div>
                </div>
                <div class="compliance-block">
                    @Html.CheckBox("compliance", new { type = "checkbox", data_size = "normal", required = "", data_init="false" })
                    <label for="compliance">Настоящим подтверждаю, что я ознакомлен и согласен с <a href="/working-conditions/terms_of_use" target="_blank">условиями политики конфиденциальности</a></label>
                </div>
                <div class="g-recaptcha" data-sitekey="6LefhkkUAAAAAFeDkqz2uYmGSKooPJGnDnkBGPGy"></div>
            </form>
            <div class="reg-buttons">
                <button type="submit" form="regForm" name="action" class="btn-blue">
                    Регистрация
                </button>
                <a href="/user/login" class="button btn-invers to-right">
                    Вход
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link href="/Content/plugins/bootstrap/css/bootstrap-toggle.css" rel="stylesheet">
    
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/Content/plugins/bootstrap/js/bootstrap-toggle.js"></script>
    <script src="/Content/plugins/Disly/DislyControls.js"></script>
}