@model HomePageViewModel
@{
    var slider = (Model.BannerArray != null) ?
        Model.BannerArray
        .Where(w => w.SectionAlias.Equals("slider"))
        .Select(s => new
        {
            Id = s.Id,
            Title = s.Title,
            Url = s.Photo.Url,
            Text = s.Text,
            Link = s.Url
        })
        : null;

    var sitemapPlates = (Model.SiteMapArray != null) ?
        Model.SiteMapArray
        .Where(w => w.MenuAlias.Equals("plate"))
        .OrderBy(o => o.MenuSort)
        .Select(s => new
        {
            Path = s.Path,
            Alias = s.Alias,
            Title = s.Title,
            FrontSection = s.FrontSection,
            Url = s.Url,
            Photo = s.Photo
        })
        : null;

    var benefitBanners = (Model.BannerArray != null) ?
        Model.BannerArray
        .Where(w => w.SectionAlias.Equals("benefits"))
        .Select(s => new
        {
            Id = s.Id,
            Title = s.Title,
            Url = s.Photo.Url,
            Text = s.Text,
            Link = s.Url
        })
        : null;

    var announcements = (Model.Materials != null) ? Model.Materials.Where(w => w.GroupAlias.Equals("announcement")) : null;
    var news = (Model.Materials != null) ? Model.Materials.Where(w => w.GroupAlias.Equals("news")) : null;
    var events = (Model.Materials != null) ? Model.Materials.Where(w => w.GroupAlias.Equals("actual")) : null;
    int i = 0;

    string backgroundSlider = Model.SitesInfo.BackGroundImg != null
        ? "style=background-image:url(" + Model.SitesInfo.BackGroundImg.Url + ");"
        : null;

}
<!-- слайдер -->
<div>
    <div class="top-slider-wrapper" @backgroundSlider>
        <div class="container">
            <div class="row row-15">
                @if (slider != null && slider.Count() > 0)
                {
                    <div class="col-sm-12 col-md-9 row15-col">
                        <div id="myCarousel" class="carousel slide slider" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner top-slider top-slider-shadow">

                                @foreach (var item in slider)
                                {
                                    string active = i == 0 ? "active" : string.Empty;
                                    string text = !string.IsNullOrEmpty(item.Text) ? item.Text : "&nbsp;";
                                    string link = "/redirect/link/" + item.Id;
                                    i++;

                                    string sliderfoto = (!string.IsNullOrWhiteSpace(item.Url))
                                                  ? File.Exists(Server.MapPath(item.Url))
                                                      ? item.Url : "/Content/img/nophoto.jpg"
                                                  : "/Content/img/nophoto.jpg";

                                    <div class="item @active">
                                        <div class="slider-item">
                                            <div class="slider-img">
                                                <a href="@link">
                                                    <img src="@sliderfoto" alt="@item.Title">
                                                </a>
                                            </div>
                                            <div class="slider-text-block">
                                                <div class="slider-text">
                                                    @Html.Raw(text)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (slider.Count() > 1)
                                {
                                    <div class="slider-controls">
                                        <a class="left" href="#myCarousel" data-slide="prev">
                                            <span class="ti-arrow-circle-left"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right" href="#myCarousel" data-slide="next">
                                            <span class="ti-arrow-circle-right"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="col-sm-12 col-md-3  row15-col text-right">
                    <div class="slider-message-block">
                        <a target="_blank" href="/RedirectRegistry/Hospitals/@Model.Oid">
                            <div class="slider-message slider-message-1">
                                <div class="icon-slider-message">
                                    <span class="ti-support"></span>
                                </div>
                                <div class="slider-message-full">
                                    <div class="slider-message-title">электронная&nbsp;регистратура</div>
                                    <div class="slider-message-text">Запишитесь на приём к врачу online</div>
                                </div>
                            </div>
                        </a>
                        <a href="/contacts?t=phone">
                            <div class="slider-message slider-message-2">
                                <div class="icon-slider-message">
                                    <span class="ti-mobile"></span>
                                </div>
                                <div class="slider-message-full">
                                    <div class="slider-message-title">номера&nbsp;наших&nbsp;телефонов</div>
                                </div>
                            </div>
                        </a>
                        <a href="/vote">
                            <div class="slider-message orange">
                                <div class="icon-slider-message">
                                    <span class="ti-check-box"></span>
                                </div>
                                <div class="slider-message-full">
                                    <div class="slider-message-title">нам&nbsp;важно&nbsp;ваше&nbsp;мнение!</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- конец слайдера -->
<!-- модуль новостей -->
<div class="container">
    @if (Model.Materials != null)
    {
        <div class="news-module">
            <p class="module-title">Пресс-центр<span class="ti-folder"></span><a class="link-to-archive" href="/press">Архив</a></p>
            <div class="row">
                <div class="col-md-3">
                    @if (announcements != null && announcements.Count() > 0)
                    {
                        foreach (var ann in announcements.ToList()) //for (int j = 0; j < 2; j++)
                        {
                            string link = "/press/" + ann.Date.Year + "/" + ann.Date.Month + "/" + ann.Date.Day + "/" + ann.Alias;

                            <div class="module-material-item">
                                <div class="module-material-item-date">
                                    <div class="module-material-item-day">@ann.Date.Day.ToString()</div>
                                    <div class="module-material-item-otherdate">
                                        <div>@ann.Date.ToString("MMMM")</div>
                                        <div>@ann.Date.ToString("yyyy")</div>
                                    </div>
                                </div>
                                <a class="module-material-item-group-link" href="/press/@ann.GroupAlias">@ann.GroupName                                </a>
                                <a class="module-material-title" href="@link">@ann.Title</a>
                            </div>
                        }
                    }
                </div>
                <div class="col-md-3">
                    @if (news != null && news.Count() > 0)
                    {
                        foreach (var item in news.ToList()) //for (int j = 0; j < 2; j++)
                        {
                            string link = "/press/" + item.Date.Year + "/" + item.Date.Month + "/" + item.Date.Day + "/" + item.Alias;

                            <div class="module-material-item">
                                <div class="module-material-item-date">
                                    <div class="module-material-item-day">@item.Date.Day.ToString()</div>
                                    <div class="module-material-item-otherdate">
                                        <div>@item.Date.ToString("MMMM")</div>
                                        <div>@item.Date.ToString("yyyy")</div>
                                    </div>
                                </div>
                                <a href="/press/@item.GroupAlias" class="module-material-item-group-link">@item.GroupName</a>
                                <a href="@link" class="module-material-title">@item.Title</a>
                            </div>
                        }
                    }
                </div>
                <div class="col-md-6">
                    @if (events != null && events.FirstOrDefault() != null)
                    {
                        var ev = events.FirstOrDefault();

                        string link = "/press/" + ev.Date.Year + "/" + ev.Date.Month + "/" + ev.Date.Day + "/" + ev.Alias;
                        //string photo = !string.IsNullOrEmpty(ev.Photo) ? ev.Photo : "~/Content/img/temporal.jpg";

                        string eventfoto = (!string.IsNullOrWhiteSpace(ev.Photo))
                                                 ? File.Exists(Server.MapPath(ev.Photo))
                                                     ? ev.Photo : "/Content/img/temporal.jpg"
                                                 : "/Content/img/temporal.jpg";

                        <div class="event-item-module">
                            <div class="event-item-module-opacity top-op">
                                <div class="module-material-item-date">
                                    <div class="module-material-item-day">@ev.Date.Day.ToString()</div>
                                    <div class="module-material-item-otherdate">
                                        <div>@ev.Date.ToString("MMMM")</div>
                                        <div>@ev.Date.ToString("yyyy")</div>
                                    </div>
                                </div>
                                <a href="/press/@ev.GroupAlias" class="module-material-item-group-link">@ev.GroupName</a>
                            </div>
                            <a href="@link">
                                <img src="@eventfoto" alt="@ev.Title" />
                            </a>
                            <div class="event-item-module-opacity bottom-op">
                                <a href="@link">@ev.Title</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    }
</div>
<!-- конец модуля новостей -->
<!-- модуль полезные ресурсы -->
<div>
    @if (benefitBanners != null)
    {
        <div class="imglink-benefit-block module-main-page">
            <div class="container">
                <p class="module-title">Полезные ресурсы<span class="ti-folder"></span><a class="link-to-archive" href="#">Архив</a></p>
                <div class="ling_img_on carousel slide">
                    <div class="carousel-inner" data-count="4">
                        @foreach (var item in benefitBanners)
                        {
                            string link = "/redirect/link/" + item.Id;

                            string title = item.Title;
                            if (title.Length > 70)
                            {
                                title = title.Substring(0, 70);
                            }

                            string benefitbanerfoto = (!string.IsNullOrWhiteSpace(item.Url))
                                          ? File.Exists(Server.MapPath(item.Url))
                                              ? item.Url : "/Content/img/nophoto.jpg"
                                          : "/Content/img/nophoto.jpg";

                            <div class="linkimg_item col-md-3">
                                <a href="@link">
                                    <div class="imglink-item">
                                        <img class="imglink-pic" src="@benefitbanerfoto" />
                                        <div class="imglink-title">
                                            @Html.Raw(title)
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    @if (benefitBanners.Count() > 4)
                    {
                        <div class="imglink-controlls">
                            <a data-slide="prev" class="ti-angle-left prev"></a>
                            <a data-slide="next" class="ti-angle-right next"></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</div>
<!-- конец модуля полезные ресурсы -->
<!-- карта сайта плиткой -->
<div class="container">
    @if (sitemapPlates != null && sitemapPlates.Count() > 0)
    {
        <div class="sitemap-plates-block">
            <div class="row">
                @foreach (var item in sitemapPlates)
                {
                    string fullPath = "/";

                    if (!string.IsNullOrEmpty(item.Url))
                    {
                        fullPath = item.Url;
                    }
                    else if (item.FrontSection.ToLower().Equals("page"))
                    {
                        fullPath = item.Path + item.Alias;
                    }
                    else
                    {
                        fullPath = "/" + item.FrontSection;
                    }
                    <div class="col-sm-3">
                        @if (item.Photo != null && !string.IsNullOrWhiteSpace(item.Photo.Url))
                        {
                            string platefoto = File.Exists(Server.MapPath(item.Photo.Url))
                                      ? item.Photo.Url : "/Content/img/nophoto.jpg";

                            <a href="@fullPath" class="sitemap-plate sitemap-plate-image" title="@item.Title">
                                <img src="@platefoto" alt="@item.Title" />
                            </a>
                        }
                        else
                        {
                            <a href="@fullPath" class="sitemap-plate">@item.Title</a>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>
<!-- конец карты сайта плиткой -->

@Html.Partial("part/media")
